src/main/resources/wadl/PfxWebdavREST.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:pfxdav="http://www.ellipsis.nl/PfxWebdav/REST/v1/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
	<grammars>
		<include href="./PfxWebdavREST_v1.xsd"/>
	</grammars>
	<resources base="http://localhost:8080/">
		<resource path="/PfxWebdavREST" id="PfxWebdavRESTAPI">
			<resource path="/resources">
				<param name="uri" style="query" type="xsd:string"/>
				<method name="GET" id="getResources">
					<response>
						<representation mediaType="application/json" element="pfxdav:GetResourcesResponse" />
					</response>
				</method>
				<method name="PUT" id="putResource">
					<response>
						<representation mediaType="application/json" element="pfxdav:PutResourceResponse" />
					</response>
				</method>
			</resource>
			<resource path="/version">
				<method name="GET" id="getVersion">
					<response>
						<representation mediaType="text/plain" element="xsd:string"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>